##
# Humidity Control's test configuration file
##
---
environment: 'TEST'
phone_nbr_from: '+15005550006'
phone_nbr_to: ['+491711408561', '+4912345678']
account_sid: AC02f69eb9ad90d21988f1c12288130b92
auth_token: 88720fb30e9ab89595e0c64a42be9d11
twiml_bin_message_url: 'https://handler.twilio.com/twiml/EH8984a3d9310e569d8dd01888608fce80?Message='
sensor_url: 'http://localhost:1000'
nbr_of_retries: 3
repeat_alarm_pause: 3
